packages: [
  "atom-runner"
  "busy-signal"
  "docker"
  "file-icons"
  "git-blame"
  "git-plus"
  "go-debug"
  "go-imports"
  "go-outline"
  "go-plus"
  "go-quick-import"
  "go-rename"
  "go-signature-statusbar"
  "go-tip"
  "gotests"
  "highlight-line"
  "hyperclick"
  "intentions"
  "linter"
  "linter-ui-default"
  "monokai"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "vim-mode-plus"
]
